html {
background-image: linear-gradient(to bottom, #cbf3eb, #c6f6e3, #c8f9d7, #d0fac8, #def9b7, #ebf3b2, #f6edb1, #ffe7b2, #ffe1c1, #ffded3, #fadfe0, #ebe2e5);
 }

 canvas {
    box-shadow: 0 0  20px 10px #4F7072;
    border-radius: 10px;


  }
  .row1{
    display: flex;
  justify-content: flex-start;

  }
  .row2{
    display: flex;
    justify-content: flex-end;
  }
  .row1-wrap{
    position: absolute;
      height: 95%;
    width: 20%;
  }
  .row2-wrap{
    position: absolute;
      height: 95%;
    width: 20%;
  }
.btn-back {
  background-color: #FEC75E;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      font-family: 'DotGothic16', sans-serif;
      font-size: 10pt;
      max-width: 90%;
      height: 100%;
}
.btn-back-wrapper {
  display: flex;
  justify-content: center;
  height: 12%;
  width: 100%;
  position: absolute;
  top: 1%
}
.btn-next-wrapper {
  display: flex;
  justify-content: center;
  height: 12%;
  width: 100%;
  position: absolute;
  top: 1%
}
.btn-next{
  background-color: #FEC75E;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      font-family: 'DotGothic16', sans-serif;
      font-size: 10pt;
      max-width: 90%;
      height: 100%;
}

/* info advertisement */
.info-wrap {
  display: flex;
      justify-content: center;
      flex-direction: row;
      position: absolute;
      top: 20%;
      right: 2%;
      width: 100%;
}
.column-wrap{
  display: flex;
  flex-direction: column;
  margin: 5%;
}
.new{
   border: 1px solid #000;
  margin: 10%;
  width: 60px;
  height: 60px;
  transition: image, width, height, 2s ease-in-out;
}
.new:hover{
  transform: scale(3);
  image: url('./booklets/ad2021.png');
}
.fond {
 border: 1px solid #000;
    margin: 10%;
  width: 60px;
  height: 60px;
  transition:image, width, height, 2s ease-in-out;
}
.fond:hover{
  transform: scale(3);
image: url('./booklets/ad-fond.png');
}
.wear {
    border: 1px solid #000;
      margin: 10%;
    width: 60px;
    height: 60px;
    transition: image, width, height, 2s ease-in-out;
}
.wear:hover{
transform: scale(3);
  image: url('./booklets/ad-wear.png');
}
.tea{
  border: 1px solid #000;
    margin: 10%;
  width: 60px;
  height: 60px;
  transition: image, width, height, 2s ease-in-out;
}
.tea:hover{
  transform: scale(3);
  image: url('./booklets/ad-tea.png');
}
.product{
    border: 1px solid #000;
      margin: 10%;
    width: 60px;
    height: 60px;
    transition:   image, width, height, 2s ease-in-out;
}
.product:hover{
transform: scale(3);
   image: url('./booklets/ad-product.png');
}
.birth {
  border: 1px solid #000;
    margin: 10%;
  width: 60px;
  height: 60px;
  transition:    image, width, height, 2s ease-in-out;
}
.birth:hover{
  transform: scale(3);
     image: url('./booklets/ad-birth.png');
}
.goodproject{
  border: 1px solid #000;
    margin: 10%;
  width: 60px;
  height: 60px;
  transition: image, width, height, 2s ease-in-out;
}
.goodproject:hover{
  transform: scale(3);
  image: url('./booklets/ad-goodproject.png');
}
.news{
  border: 1px solid #000;
    margin: 10%;
  width: 60px;
  height: 60px;
  transition: image, width, height, 2s ease-in-out;
}
.news:hover{
  transform: scale(3);
image: url('./booklets/news-info.png');
}
.info{
  border: 1px solid #000;
    margin: 10%;
  width: 60px;
  height: 60px;
  transition: image, width, height, 2s ease-in-out;
}
.info:hover{
  transform: scale(3);
  image: url('./booklets/ad-info.png');
}
.alone{
  border: 1px solid #000;
    margin: 10%;
  width: 60px;
  height: 60px;
  transition: image, width, height, 2s ease-in-out;
}
.alone:hover{
  transform: scale(3);
image: url('./booklets/ad-alone.png');
}

.container {
  display: flex;
  justify-content: center;
}
.callout {
  position: fixed;
    width: 50%;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 40px;
  color: white;
  text-align: center;

}

.callout-container {
  padding: 20px 70px 55px 70px;
  background-color: #ccc;
  color: black;
  text-align: center;
  text-align: justify;
  font-size: 26pt;
}

.closebtn1 {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn1:hover {
  color: lightgrey;
}
.img-sign {
  height: 30px;
  width: 30px;
}

.alert {
  position: absolute;
    top: 30%;
      padding: 20px;
      font-size: 15pt;
      min-height: 30%;
      background-color: #eee;
      color: #000;
      border: 3px dashed #4F7072;
}

.closebtn {
  margin-left: 15px;
  color: #555;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
p{
  text-align: justify;
}

/* time */
.timer-wrapper {
  position: absolute;
top: 90%;
display: flex;
justify-content: center;

width: 100%;
position: absolute;
}

.timer {
  background-color: #FEC75E;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      font-family: 'DotGothic16', sans-serif;
      font-size: 10pt;
      max-width: 90%;
      height: 100%;
      text-align: center;
}

@media (min-height: 800px) {

.new, .fond,.wear,
.tea,
.product,
.birth,
.goodproject,
.news,
.info,
.alone{
  width: 70px;
  height: 70px;
}

}
@media (min-height: 900px) {

.new, .fond,.wear,
.tea,
.product,
.birth,
.goodproject,
.news,
.info,
.alone{
  width: 80px;
  height: 80px;
}

}
@media (min-height: 800px) {
  .btn-next, .btn-back {
    max-height: 80%;
  }
}
